@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Ubuntu:wght@300;400;700&display=swap');


:root {
    /*Palette*/
    --prim-clr: #8F43EE;
    --pim-clr-light: hsl(239, 94%, 40%);
    --sec-clr: #abdcf6;
    --tertiary-clr: #00B4D8;
    --bg-clr: #e7f6fa;
    --bg-clr-light: hsl(190, 77%, 90%);
    /*Fonts*/
    --ff-regular: 'Ubuntu', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
    --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* css reset  */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    color: var(--prim-clr);
    font-family: var(--ff-regular);
    font-weight: var(--fw-regular);
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*Arabic text only */
.arabic {
    font-family: "Cairo";
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: normal;
}


.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 201;
    background-color: #562e5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: #eee;
    padding-top: 1rem;
    padding-left: 0.4rem;
}

.loader {
    user-select: none;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.loader img {
    width: 85%;
    flex-shrink: 0;
    height: auto;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;

}

.loader:after {
    box-shadow: 0 2px 0 var(--prim-clr) inset;
    animation: rotate 2s linear infinite;
}

.para {
    line-height: 0%;
    font-weight: lighter;
    font-size: 1rem;
}

.gradient {
    background: linear-gradient(-45deg, #7a1c75, #484848, var(--prim-clr));
    background-size: 400% 400%;
    animation: gradient-bg 60s ease-in-out infinite;
    -webkit-animation: gradient-bg 60s ease-in-out infinite;
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.card {

    margin: 4rem 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    max-width: 900px;
    background-color: rgb(43, 43, 43);
    border-radius: 16px;
    position: relative;
    border: px solid transparent;
    background-clip: padding-box;
    text-align: center;
    color: #f1f3f3;
    background-image: linear-gradient(135deg,
            rgba(#4b1d4f, 0.35),
            rgba(#734a58, 0.1) 15%,
            #2b2b2b 20%,
            #2b2b2b 100%);

    &:after {
        content: "";
        display: block;
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
        z-index: -1;
        position: absolute;
        border-radius: 16px;
        background-image: linear-gradient(135deg,
                #752e7c,
                #734a58 20%,
                #2b2b2b 30%,
                #2c333e 100%);
    }
}



.container {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.Style {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding: .5rem;
}

.header {
    line-height: 1.7rem;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: auto;
    padding: 1rem 1.4rem;
    ;
    gap: 2rem;
    background-color: rgb(43, 43, 43);
    border-bottom: #eee 1px solid;
}

.header h1 {
    margin-right: auto;
}

h1,
h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    min-width: 100px;
    margin: 0.5rem;
}



.input {
    border-radius: 10px;
    outline: 2px solid var(--prim-clr);
    border: 0;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px .8rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.input:focus {
    outline-offset: 5px;
    background-color: #fff
}

#addCourseLabel {
    margin: 0.55rem
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    margin: 0.2rem 0.55rem;
    padding: 0.7rem 2.6rem;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--prim-clr);
    box-shadow: 0px 15px 20px #401144;
    color: #fff;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

button:active {
    transform: translateY(-1px);
}

ul {
    list-style-type: none;
    padding: 0;
}


#gpa {
    font-weight: bold;
}

.lan {
    padding: 0.3rem 1.3rem;
}




.courselists {
    text-align: start;
    margin-top: 2rem;
    display: flex;
    min-width: 100%;
}

.courselists ul {
    width: 100%;

}

.courselists li {
    display: flex;
    margin: 1rem 0;
    flex: 1;
    align-items: center;
    width: inherit;
}

.courselists button {
    margin-left: auto;
    padding: 0.3rem 0.5rem;
    color: white;
    background-color: rgb(204, 77, 77);
}

.courselists button:hover {
    box-shadow: none;

}


.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    min-width: 480px;
    color: #eee;
    margin: 1rem;
    padding: 3rem;
    position: relative;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.close {
    color: var(--prim-clr);
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    font-family: 'times new roman', Courier, monospace;
    border-radius: 50%;
    right: 15px;
    top: 34%;
    background-color: #eee;
    font-size: 2rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.linko {
    color: #bfbfbf;
    text-decoration: none;
}


.upperdiv {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    text-align: center;
}

.upperdiv a {
    color: #9d5cec;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

a:hover {
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .card {
        margin: 1rem 0;
        min-width: 70%;
    }

    .input {
        border: none;
        outline: none;
    }

    .header {
        padding: 0.8rem 0.5rem;

    }

    .input:focus {
        border: var(--prim-clr) solid 2px;
        outline: var(--prim-clr);
    }

    .alert {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(43, 43, 43);
        min-width: 70%;
        height: auto;
        color: #eee;
        margin: 1rem;
        padding: 2.8rem;
        position: relative;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }


    .lan {
        padding: 0.1rem 0.9rem;
    }

    .para {
        display: none;
    }

}

@media only screen and (min-width: 800px) {
    .header {
        padding: 1.45rem 3rem;
        justify-content: space-around;
    }

    .header h1 {
        margin-right: 0;
    }

    .card {
        min-width: 500px;
        min-height: 400px;
    }


}